{% extends "base.html" %}

{% block title %}
    {{article.title}}
{% endblock %}

{% block extra_links %}
  <li><a href="/">← home</a></li>
{% endblock %}
{% block content %}

{% if article.translations %}
<p class="translations">
Also available in  <a href="/{{ article.translations[0].url }}">{{ LANGS_LABELS[article.translations[0].lang] }}</a>
</p>
{% endif %}
      
<article id="post">
    <div class="meta">
        <div class="date">
            <span class="day">{{ article.date.strftime("%d") }}</span>
            <span class="month">{{ article.date.strftime("%b") }}</span>
            <span class="year">{{ article.date.strftime("%Y") }}</span>
        </div>
    </div>

<h1>{{article.title}}</h1>
{{ article.content }}
</article>

<hr />
<div id="disqus_thread"></div>
<script type="text/javascript">
    //var disqus_developer = 1;
    var disqus_shortname = 'jawher-me';
    var disqus_identifier = '/{{ article.url }}';
    var disqus_url = 'http://jawher.me/{{ article.url }}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}