{% extends "base.html" %}

{% block title %}
    Bookmarks
{% endblock %}

{% block extra_links %}
  <li><a href="/">home</a></li>
{% endblock %}

{% block content %}
<article id="post">

    <header role="banner">
        <h1><span>Bookmarks</span> and interesting <span>stuff</span> on   the interwebs</h1>
    </header>
    <section role="main">
    <ul class="bookmarks">
        {% for bookmark in bookmarks %}
        <li>
            <span class="meta">
                <a href="#{{bookmark.slug}}" class="date anchor" title="Permalink">{{ bookmark.date.strftime("%d %B %Y") }}</a>
                
            </span>
           
            <h2 id="{{bookmark.slug}}"><a href="{{ bookmark.url }}">{{ bookmark.title }} ⇾</a></h2>
            <span class="domain">{{ bookmark.domain}}</span>
            
            {{bookmark.content}}

        </li>
        {% endfor %}
    </ul>
    </section>
</div>
{% endblock %}