{% extends "base.html" %}
{% block content %}
<div id="home">

    <ul class="posts">
        {% for post in articles %}
        <li>
            {% if post.translations %}
            <div class="half">
                <span class="lang">[{{ post.translations[0].lang }}]</span> <span>{{ post.translations[0].date.strftime("%d %b %Y") }}</span> 
                <br>
                <a href="{{ post.translations[0].url }}" class="first">{{ post.translations[0].title }}</a>
            </div>
            <div class="half">
                <span class="lang">[{{ post.lang }}]</<span> </span> <span> {{ post.date.strftime("%d %b %Y") }}</span>
                <br>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </div>
            {% else %}
            <span>{{ post.date.strftime("%d %b %Y") }}</span>
            <br>
            <a href="{{ post.url }}">{{ post.title }}</a>
            {%endif%}
            
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}