{% extends "base.html" %}
{% block content %}
<div id="home">

    <ul class="posts">
        {% for post in articles %}
        <li>
            {% if post.translations %}
            <div class="half">
                <span class="date">
                    {{ post.translations[0].date.strftime("%d %B %Y") }}
                     — <span class="lang">{{ post.translations[0].lang }}</span>
                </span>
                
                <h2><a href="{{ post.translations[0].url }}" class="first">{{ post.translations[0].title }}</a></h2>
            </div>
            <div class="half">
                <span class="date">
                    {{ post.date.strftime("%d %B %Y") }}
                     — <span class="lang">{{ post.lang }}</span>
                </span>
                
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            </div>
            {% else %}
            <span class="date">{{ post.date.strftime("%d %B %Y") }}</span></span>
            
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            {%endif%}
            
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}