html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lucida Sans, Lucida Sans Unicode, Lucida Grande, Verdana, Sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 24px;
    font-weight: bold;
    font-family: sans-serif;
}

h1 {
    margin: 0.6em 0 1em;
    line-height: 1em;
    font-size: 36px;
    color: #334;
}

h1.vilain {
    color: #333;
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    line-height: 1.2em;
    margin: 10px 0;
}

h1 span {
    color: #C02702;
}

h2 {
    font-size: 28px;
    margin: 1.5em 0 0.5em;
}

h3 {
    font-size: 24px;
    margin: 1.5em 0 0.5em;
}

p {
    text-align: justify;
    word-wrap: break-word;
    margin: 0 0 24px 0;
}

p.translations {
    text-align: center;
    font-weight: bold;
    color: #888;
}

p img {
    display: block;
    margin: 0 auto;
}

hr {
    background-color: #999;
    border: none;
    height: 1px;
    margin: 1em 0;
}

a {
    color: #C02702;
}

strong a {
    text-decoration: none;
}

img.right {
    float: right;
}

p code, ul code, ol code {
    background: #ddd;
    font-size: 14px;
    line-height: 1.25em;
    padding: 2px;
    font-weight: bold;
    white-space: nowrap;
}

.codehilite {
    margin: 0 0 24px 0;

    padding: 10px 5px;
    background: #272822;
    color: #f8f8f2;
    font-size: 14px;
    overflow: hidden;
    text-shadow: none;
    line-height: 1.25em;
}

.codehilite code {
    float: left;
}

.codehilite:hover {
    overflow: auto;
}

.codehilite pre {
    margin: 0;
}

ul, ol {
    margin-bottom: 24px;
    padding: 0;
}

li {
    margin: 0;
}

ul {
    list-style: square outside;
}

ol {
    list-style: decimal-leading-zero;
}

ul ul,
ol ol {
    margin: 0 0 0 60px;
}

sup {
    line-height: 0;
}

sup a {
    text-decoration: none;
}

footer {

}

footer ul {
    list-style-type: none;
    margin: 10px auto;
    text-align: center;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    font-family: sans-serif;
}

footer li {
    line-height: 1.5em;
}

.nav {
    list-style-type: none;
    margin: 10px auto;
    text-align: center;
}

.nav li {
    display: inline;

}

.nav a {
    padding: 5px 20px;
    text-decoration: none;
    color: #888;
    font-weight: bold;
    font-size: 20px;
}

.nav a:hover {
    text-decoration: none;
    color: #334;
}

blockquote {
    font-style: italic;
    padding: 5px 15px;
    color: #666;
    margin: 0;
    border: 1px solid #DEDEDE;
    border-left: 5px solid #BBB;
    background-color: #FAFAFA;
}

blockquote p:last-child {
    margin-bottom: 0;
}

blockquote + p {
    margin-top: 24px;
}

.main {
    background-color: #FFF;
    padding-top: 1px; /* no idea why this fixes the background */
    padding-bottom: 1px;
}

.content {
    margin: auto;
    width: 80%;
    max-width: 800px;
}

.footnote {
    color: #888;
    font-size: 12px;
}

.footnote hr {
    background: #aaa;
}

.footnote ol {
    list-style-position: inside;
    margin: 0;
}

.footnote p {
    margin: 0;
}

/* HOME */

.posts {
    list-style-type: none;
    margin-bottom: 2em;
    padding: 0;
    overflow: hidden;
}

.posts li {
    line-height: 1.75em;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    clear: both;
    overflow: hidden;
    border-bottom: 1px dotted #ddd;
}

.posts span {
    color: #888;
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}

.posts .lang {
    color: #C02702;
}

.posts a {
    color: #334;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

.posts a:hover {
    text-decoration: underline;
}

.bookmarks {
    list-style-type: none;
    margin-bottom: 2em;
    padding: 0;
}

.bookmarks li {
    margin: 0 0 0px 0;
    padding: 0 0 40px 0;
    border-bottom: 1px solid #888;
    clear: both;
    overflow: hidden;
}

.bookmarks li:last-child {
    margin: 0 0 0px 0;
    padding: 0 0 40px 0;
    border-bottom: none;
}

.bookmarks span, .bookmarks a.anchor {
    color: #888;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

a.anchor {
    text-decoration: none;
}

a.anchor:hover {
    text-decoration: underline;
}

.bookmarks .domain {
    color: #C02702;
    float: right;
    font-weight: normal;
    font-family: monospace;
}

.bookmarks h2 {
    border-top: 1px dotted #ddd;
    font-size: 1.5em;
    padding: 5px 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
}

.bookmarks h2 a {
    text-decoration: none;
    color: #334
}

.bookmarks h2 a:hover {
    text-decoration: underline;
    color: #334;
}

.bookmarks p {
    text-align: left;
    font-size: 1em;
}

.bookmarks p:last-child {
    margin-bottom: 0;
}

/* POSTS */

#post {
    position: relative;

}

#post .meta {
    position: absolute;
    left: -80px;
    top: 10px;
    width: 0px;
}

#post .meta div {
    width: 100px;
}

#post .meta .date {
    color: #888;
    font-family: "Courier", monospace;
    font-weight: bold;
}

#post .meta .date span {
    display: block;
}

#post .meta .date span.day {
    font-size: 2.4em;
    letter-spacing: -2px;
    margin-left: -2px;
}

#post .meta .date span.month {
    font-size: 1.4em;
    margin-bottom: -5px;
}

#post .meta .date span.year {

}

#post div.footnotes {
    font-size: smaller;
    margin-left: 4px;
}

#post div.footnotes a {
    text-decoration: none;
}

.half {
    padding: 0;
    margin: 0;
    width: 50%;
    float: left;
}

.half a.first {
    display: block;
    padding: 0 10px 0 0;
}

table {
    width: 100%;
    border-spacing: 0;
    margin-bottom: 24px;
}

th {
    text-align: left;
}

td, th {
    padding: 4px;
    border-left: 1px solid #999;
    border-top: 1px solid #999;
}

table tr:last-child td {
    border-bottom: 1px solid #999;
}

table tr td:last-child, table tr th:last-child {
    border-right: 1px solid #999;
}
