<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Jawher Moussa" />
   <link href="/atom.xml" rel="alternate" title="Sean Hess" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/monokai.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/simple.css" type="text/css" media="screen, projection" />
   <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2770057-11']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>

<div class="main">
<div class="content">
  {{ content }}
</div>
</div>

<footer>
  <div class="content">
    Last generated: {{ site.time |  date_to_string }}
  </div>
</footer>
</body>
</html>
