---
layout: default
---

<div class="nav">
  <a href="/">← all posts</a>
  &mdash;
  <a href="/my-projects">my projects</a>
   &mdash;
  <a href="https://twitter.com/#!/jawher">twitter</a>
   &mdash;
  <a href="https://github.com/jawher">github</a>
   &mdash;
  <a href="/atom.xml"><img src="/images/rss.png" alt="feed" /> feed</a>
</div>
        
<article id="post">
{{ content }}
</article>

<div id="disqus_thread"></div>
<script type="text/javascript">
    //var disqus_developer = 1;
    var disqus_shortname = 'jawher-org';
    var disqus_identifier = '{{ page.url }}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
